<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text1</key>
	<string>4f3874</string>
	<key>text2</key>
	<string>9e8ea9</string>
	<key>lakerYellow</key>
	<string>edc746</string>
</dict>
</plist>
